/*Nav Bar*/
.navbar {
  background-color: #dbdada;
}
.nav-item {
  text-align: center;
  padding: 1em;
}
.nav-link {
  color: #42566f;
  font-family: "Century Gothic", sans-serif;
}
.nav-link:hover {
  font-weight: bold;
  color: #286e7a;
}
.nav-link:visited {
  text-decoration: none;
}
.current {
  font-weight: bold;
}
.dropdown-item {
  color: #42566f;
  text-align: center;
  font-family: "Century Gothic", sans-serif;
  padding: 1em;
}
.dropdown-item:hover {
  font-weight: bold;
  color: #286e7a;
  background-color: #dbdada;
}
.dropdown-menu {
  border: 0;
  outline: none;
}

/*Nav Bar toggler icon*/
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #286e7a;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* State when the navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* when navigation is clicked */
.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Color of 3 lines */
.navbar-toggler.collapsed .toggler-icon {
  background: linear-gradient(
    263deg,
    rgb(156, 122, 122) 0%,
    rgb(42, 97, 109) 100%
  );
}
/*Main Image*/
.mainImage {
  background-image: url(images/mainImage.JPG);
  background-color: #42566f;
  height: 240px;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  margin-top: 120px;
}

/*text*/

body {
  font-size: var(bs-body-font-size);
}
h1 {
  color: #605f5f;
  font-family: Poppins, sans-serif;
  text-shadow: 0.25px 0.25px 1px rgb(255, 255, 255);
}
h2 {
  color: #42566f;
  text-align: center;
  font-family: Poppins, sans-serif;
}
.h2White {
  color: white;
  text-align: center;
  font-family: Poppins, sans-serif;
}
h4 {
  color: #605f5f;
  font-family: Poppins, sans-serif;
}
h5 {
  color: #605f5f;
  font-family: Poppins, sans-serif;
  text-shadow: 0.25px 0.25px rgb(255, 255, 255);
}
p {
  color: #605f5f;
  font-family: Poppins, sans-serif;
}

/*buttons*/
.btn {
  background-color: #605f5f;
  color: white;
  font-size: large;
  font-family: Poppins, sans-serif;
  font-weight: 100;
}
.btn-noRad {
  border-radius: 0em 0em 0.25em 0.25em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.btn:hover {
  font-weight: bold;
  color: white;
}

/* Furtiure */
.images {
  background-image: url(images/ArmChair.JPG);
  height: 200px;
  border-radius: 24px;
}
.bottom {
  padding-top: 90px;
  color: antiquewhite;
  text-align: center;
}

/*Item Page*/

.small-img-c {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.small-img-r {
  cursor: pointer;
}

.small-img {
  padding: 2px;
  max-width: 100%;
  max-height: 40%;
  justify-self: center;
}

#MainImg {
  padding: 2px;
}

.MainImg {
  transition: all 1s ease-in;
  justify-self: center;
  align-self: center;
  max-height: 500px;
}

.MainImgContainer {
  display: grid;
}
/* .MainImg:hover{
    transform: scale(1.5);
} */

/* Sawmill Page */
.carousel-indicators .active {
  background-color: #286e7a;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23286e7a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23286e7a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/*Footer*/
body {
  min-height: 100vh;
}

.footerInfo {
  display: flex;
  justify-content: space-between;
  width: 85%;
  flex-wrap: wrap;
}

.sticky-footer {
  position: sticky;
  top: 100%;
  background-color: #dbdada;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 36px 0px 12px 0px;
  margin-top: 36px;
}

a {
  text-decoration: none;
}
